<p id="counter" class="post-meta">
    <span id="busuanzi_container_site_pv">Site PV: <span id="busuanzi_value_site_pv"></span></span>&nbsp;&nbsp;
    <span id="busuanzi_container_site_uv">Site UV: <span id="busuanzi_value_site_uv"></span></span>&nbsp;&nbsp;
    <span id="busuanzi_container_page_pv">Page PV: <span id="busuanzi_value_page_pv"></span></span>
</p>
<script>
    if (window.location.pathname == '/search/') {
        document.getElementById("counter").parentNode.removeChild(document.getElementById("counter"));
    } else {
        document.getElementsByClassName("main")[0].prepend(document.getElementById("counter"));
    }
</script>